html {
  width: 100%;
  min-height: 100%;
  background-color: rgb(50, 39, 94);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.08, rgb(184,190,255)),
    color-stop(0.64, rgb(50,39,94))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgb(184,190,255) 8%,
    rgb(50,39,94) 64%
  );
}

header { text-align: left;}

body {
  color: #456653;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

div.transbox {
  width: 75%;
  margin: 20px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: thin;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 10px;
  background-color: rgba(213, 221, 232, 0.3);
  -moz-box-shadow: 0px 0px 10px #fff;
  -webkit-box-shadow: 0px 0px 10px #fff;
}

div.menubox {
  width: 100px;
  margin: 10px;
  float: right;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: thin;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(213, 221, 232, 0.3);
  padding: 10px;
  -moz-box-shadow: 0px 0px 10px #fff;
  -webkit-box-shadow: 0px 0px 10px #fff;
}

div.topbox{
  height: 35px;
  width: 100%;
  padding: 10px 5px 1px 5px;
  margin: 5px 5px 40px 5px;
  border-style: transparent;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0.3, rgba(0, 0, 0, 0.6)),
      color-stop(0.64, rgba(0, 0, 0, 0))
    );
  background: -moz-linear-gradient(
    left,
    rgba(0, 0 , 0, 0.6) 30%,
    rgba(0, 0, 0, 0) 64%
  );
}

a {
  color: #0D4A26;
  text-decoration: none;
}
